In [1]:
import numpy as np
import pandas as pd

#Exercise1
# Create series
data = np.random.randint(50, 100, 10)
index = pd.date_range('2025-01-01', periods=10)
series = pd.Series(data, index=index)

# Filter and compute mean
filtered = series[series > 75]
mean_filtered = filtered.mean()

print("Filtered values > 75:\n", filtered)
print("Mean of filtered values:", mean_filtered)

Filtered values > 75:
 2025-01-04    80
2025-01-10    80
dtype: int32
Mean of filtered values: 80.0

In [2]:
#Exercise2
data = {
    'Student': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Course': ['Math', 'Science', 'Math', 'Science', 'Math'],
    'Score': [88, 75, 92, 67, 85],
    'Year': [2024, 2025, 2025, 2024, 2025]
}
df = pd.DataFrame(data)

# Add Grade
def grade(score):
    if score >= 90: return 'A'
    elif score >= 80: return 'B'
    elif score >= 70: return 'C'
    else: return 'D'

df['Grade'] = df['Score'].apply(grade)

# Sort
df_sorted = df.sort_values(by='Score', ascending=False)
print(df_sorted)

   Student   Course  Score  Year Grade
2  Charlie     Math     92  2025     A
0    Alice     Math     88  2024     B
4      Eve     Math     85  2025     B
1      Bob  Science     75  2025     C
3    Diana  Science     67  2024     D

In [25]:
#Exercise3
df = pd.read_csv('student_data.csv')

# Fill missing Scores with median
df['Score'] = df['Score'].fillna(df['Score'].median())

# Drop rows with missing Name
df_cleaned = df.dropna(subset=['Name'])

# Save to new CSV
df_cleaned.to_csv('cleaned_student_data.csv', index=False)

In [3]:
#Exercise4
df_scores = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Score': [85, 90, 78, 92]
})

df_depts = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Department': ['Math', 'Physics', 'Math', 'Physics']
})

# Inner and left merges
df_inner = pd.merge(df_scores, df_depts, on='Name', how='inner')
df_left = pd.merge(df_scores, df_depts, on='Name', how='left')

# Add above average column
avg_scores = df_inner.groupby('Department')['Score'].transform('mean')
df_inner['Above_Avg'] = df_inner['Score'] > avg_scores

print(df_inner)

      Name  Score Department  Above_Avg
0    Alice     85       Math       True
1      Bob     90    Physics      False
2  Charlie     78       Math      False
3    Diana     92    Physics       True

In [4]:
# Exercise5
df = pd.read_csv('student_data.csv')

# Group by Subject
group_stats = df.groupby('Subject')['Score'].agg(['mean', 'std'])
print(group_stats)

# Top student per subject
top_students = df.loc[df.groupby('Subject')['Score'].idxmax()]
print(top_students)

          mean       std
Subject
Math     85.00  4.082483
Science  88.25  7.410578
  Name  Age  Score  Subject
1  Bob   25     90     Math
5  Bob   25     95  Science

In [5]:
#Exercise6
attendance = np.random.randint(80, 100, 8)
df = pd.read_csv('student_data.csv')
df['Attendance'] = attendance

# Set MultiIndex
df_multi = df.set_index(['Subject', 'Name'])

# Select all Math data
math_data = df_multi.loc['Math']
print(math_data)

# Average score per Name
avg_score = df.groupby('Name')['Score'].mean()
print(avg_score)

         Age  Score  Attendance
Name
Alice     22     85          87
Bob       25     90          85
Charlie   19     80          84
Diana     30     85          92
Name
Alice      86.5
Bob        92.5
Charlie    79.0
Diana      88.5
Name: Score, dtype: float64

In [29]:
#Exercise7
df = pd.read_csv('student_data.csv')

# Pivot table
pivot = df.pivot_table(index='Name', columns='Subject', values='Score')
print(pivot)

# Melt back
melted = pivot.reset_index().melt(id_vars='Name', value_name='Score', var_name='Subject')
print(melted)

Subject  Math  Science
Name
Alice    85.0     88.0
Bob      90.0     95.0
Charlie  80.0     78.0
Diana    85.0     92.0
      Name  Subject  Score
0    Alice     Math   85.0
1      Bob     Math   90.0
2  Charlie     Math   80.0
3    Diana     Math   85.0
4    Alice  Science   88.0
5      Bob  Science   95.0
6  Charlie  Science   78.0
7    Diana  Science   92.0

In [6]:
#Exercise8
dates = pd.date_range('2025-01-01', periods=30)
sales = np.random.randint(100, 500, 30)
df_sales = pd.DataFrame({'Date': dates, 'Sales': sales}).set_index('Date')

# Weekly sum
weekly_sales = df_sales.resample('W').sum()
print("Weekly sales:\n", weekly_sales)

# 7-day rolling mean
rolling_mean = df_sales['Sales'].rolling(window=7).mean()
print("7-day rolling mean:\n", rolling_mean)

Weekly sales:
             Sales
Date
2025-01-05   1751
2025-01-12   2065
2025-01-19   2041
2025-01-26   2244
2025-02-02   1379
7-day rolling mean:
 Date
2025-01-01           NaN
2025-01-02           NaN
2025-01-03           NaN
2025-01-04           NaN
2025-01-05           NaN
2025-01-06           NaN
2025-01-07    322.714286
2025-01-08    335.000000
2025-01-09    359.142857
2025-01-10    339.142857
2025-01-11    320.142857
2025-01-12    295.000000
2025-01-13    273.571429
2025-01-14    296.428571
2025-01-15    276.000000
2025-01-16    221.142857
2025-01-17    244.714286
2025-01-18    272.714286
2025-01-19    291.571429
2025-01-20    320.714286
2025-01-21    317.000000
2025-01-22    319.285714
2025-01-23    345.714286
2025-01-24    338.857143
2025-01-25    343.857143
2025-01-26    320.571429
2025-01-27    331.428571
2025-01-28    359.857143
2025-01-29    359.571429
2025-01-30    333.428571
Name: Sales, dtype: float64